include Layout/header

#support.section.wb
  .container
    .section-title.text-center
      h3 Contact US
    // end title
    .row
      .col-md-6
        .contact_form
          #message
          form#contactform.row(action='contact.php', name='contactform', method='post')
            fieldset.row-fluid
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                input#Email.form-control(type='email', name='Email', placeholder='Email Address')
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                input#Subject.form-control(type='text', name='Subject', placeholder='Subject')
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                textarea.form-control(name='Message:', id='Message:', rows='6', placeholder='Message')
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                a.btn.btn-light.btn-radius.grd1.btn-brd.view_materials_right_btn(href='#')  Send 
      // end col
      .col-md-6
        .right-box-contact
          .support-info
            .info-title
              i.fa.fa-phone(aria-hidden='true')
              h4 Phone
              |                                 6102 0000
              // <span>Booking Time: 0900 – 2000 Hrs</span>
        .right-box-contact
          .support-info
            .info-title
              i.fa.fa-envelope(aria-hidden='true')
              h4 Email
              |                                 info@peu.com
              // <span>Help Us Improve!</span>
        .right-box-contact
          .support-info
            .info-title
              i.fa.fa-map-marker(aria-hidden='true')
              h4 Location
              |                                 123 Street, Perth, WA
        #map
      // end col
      // end row
      // end container
      // end section



include Layout/footer
