include Layout/header

#testimonials.section.lb
  .container
    .row
      .col-sm-1
        img(src='https://img.icons8.com/ios-filled/50/000000/reply-arrow.png')
      .col-sm-4
        p.product-description Oils & Greases
        h3.product-title Lithium Grease
    .card_
      .container-fliud
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src='https://sherwin.scene7.com/is/image/sw/color-swatch?_tparam_size=250,250&layer=comp&_tparam_color=BEC1C3')
            .preview-pic.tab-content.purchase_btn
              a.btn.btn-sm.btn-primary(href='')
                span.price-new $500 PER CONTAINER
          .details.col-md-6
            h3.product-title Lithium Grease
            h3.product-title SHELL GADUS 400 205L drums
            p.product-description Total available: 6 drums
            p.product-description Condition: Good
            p.product-description Location: Perth, WA, Australia
            p.product-description Available now: Yes
            p.product-description Minimum order: 1 barrel
  .container
    h1 Explanation:
    p.lead_desc
      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      | been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
      | galley of type and scrambled it to make a type specimen book. It has survived not only five
      | centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
      | popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
      | more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
      | Ipsum.
    h1(style='text-align: right;') Our number: 9400 000
    
#testimonials.section.lb(style='background: #D8D8D8;')
  .container
    .row
      .col-sm-3
      .col-sm-6
        form#contactform.row(action='contact.php', name='contactform', method='post')
          fieldset.row-fluid
            .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='margin: 12px 0;')
              input#Email.form-control(type='text', name='Email', placeholder='Phone number:')
            .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='margin: 12px 0;')
              input#Subject.form-control(type='text', name='Subject', placeholder='Email address:')
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.contact_me_(style='margin: 35px 0;')
              a.btn.btn-light(href='#')  Contact me 
      .col-sm-3



include Layout/footer
