include Layout/header

#testimonials.section.lb
  .container
    .section-title.about_tab_.row.text-center
      h1(style='margin-bottom:27px') Items available
      .col-sm-2.available_button
        a.btn(href='') All items
      .col-sm-2.available_button.col-half-offset
        a.btn(href='') Oils & Greases
      .col-sm-2.available_button.col-half-offset
        a.btn(href='') Chemicals
      .col-sm-2.available_button.col-half-offset
        a.btn(href='') Construction materials
      .col-sm-2.available_button.col-half-offset
        a.btn(href='') Plastics
    // end title
    // end container
// end section
#testimonials.section.lb(style='background-color: #F2F3F5;')
  .container
    .row
      .col-md-4
        figure.card_.card-product
          ._item_name
            a.btn.btn-sm.btn-primary(href='')
              span.price-new Oil & Greases
          .img-wrap
            img(src='https://sherwin.scene7.com/is/image/sw/color-swatch?_tparam_size=250,250&layer=comp&_tparam_color=BEC1C3')
          .view_item
            a.btn.btn-sm.btn-primary.float-right.price_(href='/item-description')
              span.price-new View item
          figcaption.info-wrap
            h4.title.pro_tit_ Lithium Grease
            p.desc SHELL GADUS 400 205L drums
            .rating-wrap
              .label-rating Total avaible: 6 drums
            // rating-wrap.//
            .rating-wrap
              .label-rating Condition: Good
            // rating-wrap.//
          .bottom-wrap
            a.btn.btn-sm.btn-primary.float-right.price_(href='')
              span.price-new $1250 PER DRUM
          // bottom-wrap.//
          // col //
      .col-md-4
        figure.card_.card-product
          ._item_name
            a.btn.btn-sm.btn-primary(href='')
              span.price-new Oil & Greases 
          .img-wrap
            img(src='https://sherwin.scene7.com/is/image/sw/color-swatch?_tparam_size=250,250&layer=comp&_tparam_color=BEC1C3')
          .view_item
            a.btn.btn-sm.btn-primary.float-right.price_(href='/item-description')
              span.price-new View item
          figcaption.info-wrap
            h4.title.pro_tit_ Engine Oil
            p.desc Castrol GTX PRO 205L drums
            .rating-wrap
              .label-rating Total avaible: 6 drums
            // rating-wrap.//
            .rating-wrap
              .label-rating Condition: Good
          .bottom-wrap
            a.btn.btn-sm.btn-primary.float-right.price_(href='')
              span.price-new $500 PER CONTAINER
          // bottom-wrap.//
          // col //
      .col-md-4
        figure.card_.card-product
          ._item_name
            a.btn.btn-sm.btn-primary(href='')
              span.price-new Plastics
          .img-wrap
            img(src='https://sherwin.scene7.com/is/image/sw/color-swatch?_tparam_size=250,250&layer=comp&_tparam_color=BEC1C3')
          .view_item
            a.btn.btn-sm.btn-primary.float-right.price_(href='/item-description')
              span.price-new View item
          figcaption.info-wrap
            h4.title.pro_tit_ Plastics
            p.desc SILICA ADDITIVE D75 1000 litre container
            .rating-wrap
              .label-rating Total avaible: 6 drums
            // rating-wrap.//
            .rating-wrap
              .label-rating Condition: Good
          .bottom-wrap
            a.btn.btn-sm.btn-primary.float-right.price_(href='')
              span.price-new $2500 PER DRUM
          // bottom-wrap.//
          // col //






include Layout/footer
