footer.footer
  .container
    .row
      .col-md-3.col-sm-4.col-xs-3
        .widget.clearfix
          .widget.clearfix
            ul.twitter-widget.footer-links
              li
                a(href='/')  Home 
              li
                a(href='/about-us')  About Us 
              li
                a(href='/items-available')  Items available
            // end links
            // end clearfix
            // end col
      .col-md-3.col-sm-3.col-xs-12
        .widget.clearfix
          ul.twitter-widget.footer-links
            li
              a(href='#agent')  How it's work
            li
              a(href='/contact-us')  Contact us
          // end links
          // end clearfix
          // end col
      .col-md-2.col-sm-2.col-xs-12
      // end col
      .col-md-3.col-sm-3.col-xs-12
        .widget.clearfix
          //
            <div class="widget-title">
            <h3>Social</h3>
            </div>
          ul.footer-links
            li
              a(href='#')
                i.fa.fa-map-marker(aria-hidden='true')
                span Location
                br
                p(style='margin-left: 34px;') 123 Street, Perth, WA
            li
              a(href='#')
                i.fa.fa-phone(aria-hidden='true')
                span Phone
                br
                p(style='margin-left: 34px;') 6102 0000
          // end links
          // end clearfix
          // end col
          // end row
          // end container
          // end footer
.copyrights
  .container
    .footer-distributed
      .footer-left
        p.footer-company-name
          | All Rights Reserved. © 2019 
          a(href='#')
            | 180 Enviro Upcyclers
            // </a> Design By : <a href="https://html.design/">Bavb</a>
        a(href='#')
      a(href='#')
        //
          <div class="footer-right">
          <form method="get" action="#">
          <input placeholder="Subscribe our newsletter.." name="search">
          <i class="fa fa-envelope-o"></i>
          </form>
          </div>
    a(href='#')
  // end container
  a(href='#')
// end copyrights
a(href='#')
a#scroll-to-top.dmtop.global-radius(href='#')
  i.fa.fa-angle-up
// ALL JS FILES
script(src='js/all.js')
// ALL PLUGINS
script(src='js/custom.js')
script(src='js/portfolio.js')
script(src='js/hoverdir.js')
script(src='https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
// MAP & CONTACT
script(src='js/map.js')